.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
    .form-inline{
      width: 50%;
      margin: 0 auto;
      padding: 1.5rem;
      input{
        width: 80% !important;
        margin-right: 0!important;
        border-radius: 0;
        padding: 10px 15px;
      }
      .btn{
        width: 15% !important;
        padding: 10px 15px;
      }
    }
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }