$primary: #e73173;
$black:#000000;
$gray:#f7f8fa;
$white: #ffffff;

body{
  background-color: $gray;
}
main {
  margin-top: 8rem;
}
.navbar {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
   position: fixed;
  top: 0;
  z-index: 9999;
  background: $white;
  width: 100%;
  padding: 1rem 3rem;
}

.form-inline {
  width: 60%;
  margin: 0 auto;
  padding: 1.5rem;
  input {
    width: 80% !important;
    margin-right: 0 !important;
    border-radius: 0;
  }
  .btn {
    width: 20% !important;
    color: $white;
  }
}
.navbar {
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color:$primary
    }
    &:focus{  outline: none;
    border: 0;
    box-shadow: none;}

  }
  .active{
    color: $primary;
  }
}

.btn-home {
  background-color: $primary;
  color: white !important;
  &:hover {
    background-color: #da145c;
  }
}
.box-shadow{
  background-color: $white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.item-overview{
    background-color: $white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  
    a {
      text-decoration: none;
      color: black;
    }
  }
 


.alert {
  position: fixed;
  z-index: 999;
  width: 50%;
  text-align: center;
  top: 30%;
  left: 25%;
  h5 {
    cursor: pointer;
  }
}
.fixedcolumn {
  position: fixed;
  background: white;
  right: 12rem;
  width: 35%;
  z-index: 999;
}



.border-box {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  margin-top: 24px !important;
  border-radius: 12px !important;
  padding: 8px 24px 24px !important;
}
.mobilecolumn {
  width: 90%;
  margin: 0 auto;
  font-size: 0.5rem !important;
}

input[type="radio"] {
  display: none;
}


.clear-both{
  clear: both;
}

.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}
a {
  text-decoration: none;
  color: black;
}

.primary-container{
  background-color: #ffffff;
  padding:2rem;
}
.h-10{
 height: 10rem;
}
.form-control {
color:black
}

@import './review.scss';

@import './deleteModal.scss';


