$primary:#e73173;
  .fullheight-header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.42)), url(/background.png);
    // background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/background.png");
  background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .search-on-top{
    border-bottom: 1px solid $primary;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: white;
  }
  main{
    margin-top: 3rem;
  }
  .form-inline{
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem;
    input{
      width: 80% !important;
      margin-right: 0!important;
      border-radius: 0;
    }
    .btn{
      width: 20% !important;
    }
  }
  .navbar{    z-index: 8;
    // padding: 1.5rem 1rem;
    background: $primary;
    a{
      color:white;
    }
  }
  header{
    width: 100%;
  }
  .btn-home{
    background-color: $primary;
    color: white;
    // border-radius: 0;
    &:hover{
      background-color: $primary;
    }
  }
  .react-bootstrap-daterangepicker-container{
    width: 100%;
  }
  .search-conteiner{
    .row{
      background-color:  #e831720a;
    }
    a{
      text-decoration: none;
      color: black;
    }
    img{
      height: 18rem;
    }
 
  }

  .date-display{
    padding: 1rem 3.8rem;
  }

  .alert{
    position: fixed;
    z-index: 999;
    width: 50%;
    text-align: center;
    top: 30%;
    left: 25%;
    h5{
      cursor: pointer;
    }
  }
  .fixedcolumn{
    position: fixed;
    background: white;
    right: 8rem;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
    margin-top: 24px !important;
    border-radius: 12px !important;
    padding: 8px 24px 24px !important;
  }